.pink {
    background-color: #c22a71;
    color: white;

}

.pink:hover{
    color: white;
    background-color: rgb(48, 48, 203);
}

.blue {
    background-color: lightblue;
    color:white;
}

.blue:hover{

    background-color: green;
}

.ww{
    text-align: justify;
  text-justify: inter-word;
}