{% extends "base.html" %}
{% block content %}
{% load static %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/V1Bv1I4HsGs" title="4 Técnicas para Controlar la ANSIEDAD. Cómo disminuir la ansiedad?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/IQFlb97IIik" title="6 Ways to Stop an Anxiety Crisis☺️" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>     {% endcomment %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/a1td6mA3nVA" title="What is anxiety? Examples and Types of Anxiety" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}

<div class="text-center my-2"><h2>Test de Ansiedad</h2></div>
    <div class="container">
        <div class="row">

            <div class="col-sm my-4 round text-center align-content-center justify-content-center">
                <img
                height="400px"
                width="350px"
                style='border-radius:25px'
                  src="{% static 'anxiety.jpg' %}"
                  class="img-fluid"
                  alt="Responsive image"
                />
              </div>

          <div class="col-sm">
            <h2 class="m-1">
               {{anxiety.title}}
            </h2>
            <p class="m-3">
              {{anxiety.message}}
            </p>
            
          </div>
      
          
        </div>
      </div>
      <div class="container my-3">
            <h5>Instrucciones:
            </h5>
          <div class="">
           <p>{{anxiety.Instruction_Text}}</p>
           <ul>
            <li>{{anxiety.Instruction_option1}}</li>
            <li>{{anxiety.Instruction_option2}}</li>
            <li>{{anxiety.Instruction_option3}}</li>
            <li>{{anxiety.Instruction_option4}}</li>
          </ul>  
          <div class="text-center align-content-center">
            <a class="btn pink my-4 " href="/quiz/1" role="button">
              Comenzar test</a>
            
          </div>
        
        </div>
        </div>


        <div class='py-5'>
          <div class="row text-center align-content-center">
           
            <div class="col-sm"><iframe style='border-radius:30px;' width="400" height="225" src="{{anxiety.link1}}">
            </iframe>
            </div>
         
            </div>
            <div class="row text-center align-content-center my-2">
              <div class="col-sm">
                <iframe style='border-radius:30px;' width="400" height="225" src="{{anxiety.link2}}">
                </iframe>
              </div>
              <div class="col-sm">
              <iframe style='border-radius:30px;' width="400" height="225" src="{{anxiety.link3}}">
              </iframe>
              </div>
           
              </div>
           
            </div>
          






{% include 'partials/middlefooter.html' %}

{% endblock %}














