{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="text-center my-2"><h2> Test de Autoestima</h2></div>
    <div class="container">
        <div class="row">

            <div class="col-sm  text-center align-content-center justify-content-center">
            
                <h4 class="m-1">Escala de Autoestima de Rosemberg</h4>
                <p class="m-3">
                    La Escala de Autoestima de Rosenberg es un instrumento de autoevaluación utilizado para medir la autoestima. La escala mide principalmente sentimientos de respeto y aceptación hacia uno mismo, proporcionando una indicación general de la autoestima del individuo.</p>
                
                <img
                height="200px"
                width="300px"
                  src="{% static 'autoestima.jpg' %}"
                  class="img-fluid"
                  alt="Responsive image"
                />
              </div>

        
      
          
        </div>
      </div>
      <div class="container my-3">
            <h5>Instrucciones:
            </h5>
          <div class="">
           <p>Por favor, indica en qué medida has experimentado los siguientes síntomas en la última semana, incluyendo hoy. Utiliza la siguiente escala para cada ítem:
        </p>
           <ul>
            <li>No lo experimenté en absoluto
               </li>
            <li>Lo experimenté de manera leve o infrecuente
                
                </li>
            <li>Lo experimenté de manera moderada u ocasional</li>
            <li>Lo experimenté de manera severa o frecuente</li>
          </ul>  
          <div class="text-center align-content-center">
            <button class="btn pink my-4 btn-danger" type="submit">Comenzar test</button>
          </div>
        
        </div>
        </div>


        <div class="row text-center align-content-center">
          <div class="col-sm">
            <iframe width="400"   style='border-radius:30px;' height="225" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
            
          </div>
          <div class="col-sm"><iframe style='border-radius:30px;' width="400" height="225" src="https://www.youtube.com/embed/tgbNymZ7vqY">
          </iframe>
          </div>
       
          </div>
          <div class="row text-center align-content-center my-2">
            <div class="col-sm">
              <iframe style='border-radius:30px;' width="400" height="225" src="https://www.youtube.com/embed/tgbNymZ7vqY">
              </iframe>
              
            </div>
            <div class="col-sm"><iframe style='border-radius:30px;' width="400" height="225" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
            </div>
         
            </div>
         
        
      
      
     
        {%endblock%}