{% extends "base.html" %}
{% block content %}
{% load static %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/-j1fe-Wx-k4" title="¿Cómo MEJORAR mi AUTOESTIMA?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/hR4MYkaP9HU" title="Qué características tiene una Persona con Confianza en sí Mismo?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    {% endcomment %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/Fh8jMtyicGU" title="Qué es Autoestima y Qué es Autoconcepto? #Shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/VgV0wC_cg74" title="Cómo saber si necesito Ayuda Psicológica?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
<div class="text-center my-2"><h2> Test de Autoestima</h2></div>
    <div class="container">
        <div class="row">

            <div class="col-sm  text-center align-content-center justify-content-center">
            
                <h4 class="m-1">{{autostima.title}}</h4>
                <img
                height="300px"
                width="380px"
                style='border-radius:30px;'
                  src="{% static 'autoestima.jpg' %}"
                  class="img-fluid"
                  alt="Responsive image"
                />
                <p class="m-3">
                  {{autostima.message}}    
                </p>
                
                
              </div>

        
      
          
        </div>
      </div>
      <div class="container my-3">
            <h5>Instrucciones:
            </h5>
          <div class="">
            <p>{{autostima.Instruction_Text}}</p>
            <ul>
             <li>{{autostima.Instruction_option1}}</li>
             <li>{{autostima.Instruction_option2}}</li>
             <li>{{autostima.Instruction_option3}}</li>
             <li>{{autostima.Instruction_option4}}</li>
           </ul> 
          <div class="text-center align-content-center">
            <a class="btn pink my-4 " href="/quiz/3" role="button">
              Comenzar test</a>          </div>
        
        </div>
        </div>


        <div class="row text-center align-content-center">
          <div class="col-sm">
            <iframe width="400"   style='border-radius:30px;' height="225" src="{{autostima.link1}}">
            </iframe>
            
          </div>
          <div class="col-sm"><iframe style='border-radius:30px;' width="400" height="225" src="{{autostima.link2}}">
          </iframe>
          </div>
       
          </div>
          <div class="row text-center align-content-center my-2">
            <div class="col-sm">
              <iframe style='border-radius:30px;' width="400" height="225" src="{{autostima.link3}}">
              </iframe>
              
            </div>
            <div class="col-sm"><iframe style='border-radius:30px;' width="400" height="225" src="{{autostima.link4}}">
            </iframe>
            </div>
         
            </div>
         
        
{% include 'partials/middlefooter.html' %}
     
{%endblock%}