{% extends "base.html" %}
{% block content %}
{% load static %}

























    <div class="container text-center align-items-center">
        <div class="row">
          <div class="col-sm">
            <h2 class="my-5">
                Contáctanos
            </h2>
            <div class="text-center justify-content-center align-content-center">
            <div class="">
            <p class="my-3">Si tienes alguna duda, es probable que nuestras páginas </p><link href="">"Preguntas más frecuentes"</link> más frecuentes y <link href="">¿Cómo funciona?</link> respondan tus preguntas.</p>
            <p class="my-3">De lo contrario, envíanos un mensaje completando el siguiente formato e intentaremos responderte lo más pronto posible.</p>
        </div></div>
            <div>
            <form>
                <fieldset >
                  
                    <div class="py-2 ">
                        <div class="my-1"> <label class="px-2"><h5>Nombre</h5></label>
                          <div><input class="px-2" placeholder="Nombre"/>
                        </div>
                          <p></p>
                           
                        </div class=''>

                        <label  class="form-label "><h5>		Correo electrónico</h5> </label>
                        <div> <input class="" placeholder="  Correo electrónico"/>
                        </div>
                       </div>
                       
                    <div >
                        <label  class="form-label my-1 "><h5>	Mensaje</h5> </label>
                        <div> <input class="" placeholder="  Mensaje"/>
                        </div>
                    </div>
                  
                  
                  </div>
                  <button class="btn pink my-4 btn-danger" type="submit">Enviar</button>
                </fieldset>
              </form>
            </div>
           
          </div>
      
          
        </div>
      </div>
     
      




{% include 'partials/middlefooter.html' %}

{%endblock%}












