
{% extends "base.html" %}
{% block content %}
{% load static %}

{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/sH97zfmlXVk" title="Cuáles son los Síntomas de la Depresión?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/BatItvkKCWQ" title="Cuáles son las causas de que la Depresion esté en aumento?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    {% endcomment %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/wWUKQSbMQCU" title="Qué es Depresión Blanca y Cuáles son sus Síntomas?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/Ou9wUSrOPWI" title="Cómo superar la Depresión? 5 formas de superarla" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
<div class="text-center my-3"><h2>Test de Depresión</h2></div>
    <div class="container">
      <div class="row">
        <div class="col-sm my-1 text-center justify-content-center">
          <img
            height="200px"
            width="300px"
            style='border-radius:30px;'
            src="{% static 'depression.JPG' %}"

            class="img-fluid"
            alt="Responsive image"
          />
        </div>

        <div class="col-sm">
          <h2 class="m-1">
            Inventario de Evaluación de Síntomas Depresivos (IESD)
          </h2>
          <p class="m-3">
            El IESD es una herramienta de autoevaluación diseñada para medir la
            frecuencia y severidad de los síntomas relacionados con la
            depresión.
          </p>
        </div>
      </div>
    </div>
    <div class="container my-3">
      <h5>Instrucciones:</h5>
      <div class="">
        <p>
          Por favor, indica en qué medida has experimentado los siguientes
          síntomas en la última semana, incluyendo hoy. Utiliza la siguiente
          escala para cada ítem:
        </p>
        <ul>
          <li>No lo experimenté en absoluto</li>
          <li>Lo experimenté de manera leve o infrecuente</li>
          <li>Lo experimenté de manera moderada u ocasional</li>
          <li>Lo experimenté de manera severa o frecuente</li>
        </ul>
        <div class="text-center align-content-center">
          <a class="btn pink my-4 " href="/quiz/2" role="button">
            Comenzar test</a>
        </div>
      </div>
    </div>



    <div class="row text-center align-content-center">
      <div class="col-sm">
        <iframe width="400"   style='border-radius:30px;' height="225" src="https://www.youtube.com/embed/sH97zfmlXVk">
        </iframe>
        
      </div>
      <div class="col-sm"><iframe style='border-radius:30px;' width="400" height="225" src="https://www.youtube.com/embed/BatItvkKCWQ">
      </iframe>
      </div>
   
      </div>
      <div class="row text-center align-content-center my-2">
        <div class="col-sm">
          <iframe style='border-radius:30px;' width="400" height="225" src="https://www.youtube.com/embed/wWUKQSbMQCU">
          </iframe>
          
        </div>
        <div class="col-sm"><iframe style='border-radius:30px;' width="400" height="225" src="https://www.youtube.com/embed/Ou9wUSrOPWI">
        </iframe>
        </div>
     
        </div>
     
{% include 'partials/middlefooter.html' %}
    

    
    {% endblock %}



