{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="text-center  align-items-center">
      <h2 class="my-3">
        Mi Cuenta
    </h2>
    </div>
<div>
    <div class=" text-center py-5"  >
        <div class="jumbotron py-6  jumbotron-image  shadow text-center justify-content-center align-content-center" style="background-image: url({% static 'enduser.JPG' %});
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height:130vh;"
        >
          <p class='py-3'></p>

          <p class="py-5">
            Revisa los resultados de tus tests anteriores. Una vez que hayas tomado un test, puedes volver a tomarlo después de 5 meses.
          </p>
          <img
          src="{% static 'icon.png' %}"
          height='80px'
          width='80px'
          class="img-fluid"
          alt="Responsive image"
        />
          <h4 class="mb-4 ">
            ¿Cómo te sientes hoy?
          </h4>
          <p>Toma un test para averiguarlo:</p>
          <div class="d-flex mx-5 flex-column text-center justify-content-center align-content-center">
           
            <div class="d-flex  flex-column text-center align-items-center justify-content-center">
      
              <div>
                <a class="btn pink my-2 " href="/anxiety" role="button" id="checkEligibility"
                  >Ansiedad</a
                >
              </div>
              <div>
                <a class="btn pink my-2 " href="/depression" role="button" id="checkEligibility"
                  >Depresión</a
                >
              </div>
              <div>
      
                <a class="btn pink my-2 " href="/autostima" role="button" id="checkEligibility">
                  Autostima</a>
              </div>
              <div>
             <a class="btn blue my-2 " href="/oriention" role="button" id="checkEligibility">
                  Orientación Vocacional</a>
              </div>
            </div> 
            <div>
              <a class="btn btn-success my-4 " href="/oriention" role="button">
                Ir a mi diario</a>
               </div>
              <br>
              {%if cat_id%}
               <div>
                <a class="btn pink my-2 " href="{% url 'display_result' cat_id %}" role="button" id="checkEligibility"
                  >ver resultados</a
                >
              </div>
              {%endif%}
             </div>  
          </div>
</div>
    
{% include 'partials/middlefooter.html' %}

{% endblock %}



























