{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="text-center align-items-center">
      <h2 class="my-2">
        {{faq.title}} 
    </h2>
    </div>
<div>
    <div class="container  py-2" >
        <div  style=" text-align: left;">
          <ul class="no-bullets" style="
              list-style-type: none;
              padding-left: 0;">
            {% for line in message_lines %}
            <li>{{ line }}</li>
            {% endfor %}
          </ul>
             
          </div>
    
            </div>
          </div>  
        
        
        
        
       </div>
{% include 'partials/middlefooter.html' %}

{% endblock %}


























