{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="text-center align-items-center" >
      <h2 class="my-3">
        Formatos Psicológicos, para psicólogos
    </h2>
    </div>
    






    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm text-center">
         
          <p class="m-1">
            Te compartimos algunos formatos que puedes descargar y utilizar en tu práctica de psicología, desde la historia clínica del paciente hasta un recibo de pago. ¡Esperamos que te resulten útiles!    </p>
            <p class="m-1">Selecciona los que necesites y da click en descargar. </p>
          
        </div>
        <div class="mx-2 my-2 m-lg-3 align-items-center">
            <fieldset>

                <div>
                  <input type="checkbox" id="coding" name="interest" value="coding" />
                  <label for="coding">Coding</label>
                </div>
                
                <div>
                  <input type="checkbox" id="music" name="interest" value="music" />
                  <label for="music">Music</label>
                </div>
                <div>
                    <input type="checkbox" id="music" name="interest" value="music" />
                    <label for="music">Music</label>
                  </div>
                  <div>
                    <input type="checkbox" id="music" name="interest" value="music" />
                    <label for="music">Music</label>
                  </div>
                  <div>
                    <input type="checkbox" id="music" name="interest" value="music" />
                    <label for="music">Music</label>
                  </div>
                  <div>
                    <input type="checkbox" id="music" name="interest" value="music" />
                    <label for="music">Music</label>
                  </div>
                  <div>
                    <input type="checkbox" id="music" name="interest" value="music" />
                    <label for="music">Music</label>
                  </div>
                  
                    <div class="align-content-center align-items-center text-center">
                    <button class="btn pink m-3 btn-danger" type="submit">Descargar</button>
                  </div>
                 
              </fieldset>
              

        </div>
    
        
      </div>
    </div>


    




   
    {% endblock %}


























