<!doctype html>
{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="text-center align-items-center">
      <h2 class="my-2">
        ¿Cómo funciona nuestro 
Bot Consejero personalizado?
    </h2>
    </div>
<div>
    <div class="container text-center py-2" >
        <div class=" justify-content-center align-content-center" >
          
          <p class="">
            En Aprendamos Psicología en colaboración con Pulse Montreal, entrenamos a MiConsejeroBot para que te escuche en momentos de inestabilidad emocional.   </p>
         
          <p>Al ser el piloto del proyecto que estamos creando con el objetivo de ayudar a nuestra comunidad utilizando las tecnologías que están al alcance de todos, el servicio no tiene costo alguno; y por las mismas razones, monitoreamos la plataforma constantemente.</p>
          <P>MiConsejeroBot es un chatbot experto que está diseñado específicamente para proporcionar apoyo emocional y asesoramiento psicológico a los usuarios de la página web de Aprendamos Psicología. Su apariencia es acogedora y profesional, con una interfaz amigable y tranquilizadora que refleja un entorno terapéutico. El chatbot tiene una expresión empática y un tono de voz suave y calmante, creando un espacio seguro y confidencial para los usuarios.</P>
          <P>
            El chatbot está entrenado con una amplia gama de conocimientos en psicología, incluyendo diferentes modalidades terapéuticas como la terapia cognitivo-conductual, la terapia centrada en el cliente y técnicas de mindfulness. Puede identificar y adaptarse a las necesidades individuales de los usuarios, proporcionando respuestas personalizadas y consejos basados en técnicas psicoterapéuticas validadas.</P>
          <p>Además, el chatbot tiene la capacidad de detectar señales de angustia emocional y puede guiar a los usuarios hacia recursos adicionales o profesionales de la salud mental cuando sea necesario. Su diseño es inclusivo y accesible para una amplia gama de usuarios, independientemente de su edad, género, origen cultural o problemas psicológicos.</p>
          <p>Este chatbot no solo ofrece soporte inmediato, sino que también promueve el bienestar a largo plazo, ayudando a los usuarios a desarrollar habilidades de afrontamiento y resiliencia. Es una herramienta valiosa para aquellos que buscan apoyo psicológico, ofreciendo una experiencia terapéutica complementaria en la comodidad y privacidad de su propio hogar.
        
            
            
        <p>Queremos enfatizar que, durante el entrenamiento, hemos puesto especial atención en garantizar que el chatbot no ofrezca sugerencias que puedan causar daño o malestar. La seguridad y el bienestar de nuestros usuarios son nuestra principal prioridad. Siempre ten en cuenta que, aunque el chatbot puede ofrecer orientación general, no reemplaza la consulta con un profesional de la salud mental. Si tienes alguna preocupación o pregunta sobre la información proporcionada, te recomendamos buscar asesoramiento adicional de un profesional calificado.</p> 
        <div class="container py-3">
            <div class="row flex ">
              
      
              <div class="col-sm my-2 text-center align-content-center justify-content-center">
                <img
                  height="450px"
                  width="300px"
                  src="{% static 'enduser.JPG' %}"
                  class="img-fluid"
                  alt="Responsive image"
                />
              </div>
              <div class=" col-sm flex-column text-center justify-content-center align-content-center">
                <h2>¿Cómo te sientes hoy?</h2>
                <p>Toma un test para averiguarlo:</p>
                <div>
                  <a class="btn btn-danger my-2 " href="#" role="button"
                    >Ansiedad</a
                  >
                </div>
                <div>
                  <a class="btn btn-danger my-2 " href="#" role="button"
                    >Depresión</a
                  >
                </div>
                <div>
                  <a class="btn btn-danger my-2 " href="#" role="button"
                    >Autoestima</a
                  >
                </div>
                <div>
                  <a class="btn btn-primary my-2 mx-1" href="#" role="button"
                    >Orientación Vocacional.</a
                  >
                </div>
             
            </div>
          </div>
    
            </div>
          </div>  
        
        
        
        
       </div>
    






    
     



























       {% endblock %}


























