{% extends "base.html" %}
{% block content %}
{% load static %}

























    <div class="container text-center align-items-center" style='height:80vh'>
        <div class="row">
          <div class="col-sm">
            <h2 class="my-5">
              Crea una nueva contraseña
            </h2>
               
            <div>
            <form>
                <fieldset >
                  
                    <div >
                        <label  class="form-label "><h5>	Contraseña</h5> </label>
                        <div> <input width="400px" class="" placeholder="Usa letras, numeros y simbolo(s)"/>
                        </div>
                       </div>
                       <p></p>
                    <div >
                        <label  class="form-label "><h5>Repetir contraseña</h5> </label>
                        <div> <input class="" placeholder="La contraseña debe coincidir" />
                        </div>
                    </div>
                  
                  
                  </div>
                  <button class="btn pink my-4 btn-danger" type="submit">Restablecer contraseña</button>
                </fieldset>
              </form>
            </div>
           
          </div>
      
          
        </div>
      </div>
     
      





      {% endblock %}












