{% extends "base.html" %}
{% block content %}
{% load static %}
<div>
  <div>
<div class="container" style=" text-align: justify;
text-justify: inter-word;">
  <div class="row flex flex-wrap-reverse">
    <div class="col-sm my-2 text-center align-items-center justify-content-center">
      <h1 class="my-2" style=''>
        El único Bot Consejero personalizado que está aquí solo para ti
      </h1>
      <p class="my-3">
        Aprendamos Psicología en colaboración con Pulse Montreal, entrenamos a
        MiConsejeroBot para que te escuche en momentos de inestabilidad
        emocional. Es gratis.
      </p>
      <a class="btn blue my-1 "  href='/function'>¿Cómo funciona?</a>
    </div>

    <div class="col-sm text-center">
      <img
        src="{% static 'Main.JPG' %}"
        height='400px'
        width='400px'
        class="img-fluid"
        style='border-radius:30px;'
        alt="Responsive image"
      />
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row ">
    <div class="col-sm text-center align-items-center justify-content-center">
      <img
      src="{% static 'icon.jpg' %}"
      height='80px'
      width='80px'
      class="img-fluid"
      alt="Responsive image"
    />
      <h3 class="m-1">¿Cómo te sientes hoy?</h3>
      <p class="m-4">Toma un test para averiguarlo:</p>
      <div class="d-flex  flex-column text-center align-items-center justify-content-center">
      
        <div>
          <a class="btn pink my-2 " href="/anxiety" role="button"
            >Ansiedad</a
          >
        </div>
        <div>
          <a class="btn pink my-2 " href="/depression" role="button"
            >Depresión</a
          >
        </div>
        <div>

          <a class="btn pink my-2 " href="/autostima" role="button">
            Autostima</a>
        </div>
        <div>
       <a class="btn blue my-2 " href="/oriention" role="button">
            Orientación Vocacional</a>
        </div>
      </div>
    </div>


    <div class="col-sm  my-4 text-center align-items-center justify-content-center">
      <img
      src="{% static 'icon2.jpg' %}"
      height='50px'
      width='40px'
      class="img-fluid"
      alt="Responsive image"
    />
      <h3 class="">Sencillo de utilizar</h3>
      <p class="">

        Toma un test para averiguarloUna vez que hayas tomado un test de
        evaluación, puedes continuar charlando con MiBotConsejero, quién te dará
        consejos prácticos si lo deseas.
      </p>    
  </div>




  <div class="container" style=" text-align: justify;
text-justify: inter-word;">
  <div class="row flex flex-wrap-reverse">
    
    <div class="col-sm text-center">
      <img
        style='border-radius:30px;'
        src="{% static 'main2.JPG' %}"
        height='400px'
        width='400px'
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
    <div class="col-sm my-2 text-center align-items-center justify-content-center">
      <div class="col-sm text-center align-items-center justify-content-center">
        <h2 class="">
         Formatos Psicológicosi :
        </h2>
        <p class="">
             Nuestra gran variedad de formatos psicológicos que puedes descargar en formato PDF para que los utilices en donde quieras.
        </p>
        <a class="btn m-1 btn-success" href='/forms'>Descargar Formatos Psicológicos</a>

      </div>
     
    </div>

  </div>
</div>






</div>
</div>






{% include 'partials/middlefooter.html' %}

{% endblock %}
