{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container" style=" text-align: justify;
text-justify: inter-word;">
  <div class="row flex flex-wrap-reverse">
    <div class="col-sm my-2 text-center align-items-center justify-content-center">
      <h2 class="my-1">
        El único Bot Consejero personalizado que está aquí solo para ti
      </h2>
      <p class="my-1">

        Aprendamos Psicología en colaboración con Pulse Montreal, entrenamos a
        MiConsejeroBot para que te escuche en momentos de inestabilidad
        emocional. Es gratis.
      </p>
      <button class="btn  btn-primary" type="submit">¿Cómo funciona?</button>
    </div>

    <div class="col-sm text-center">
      <img
        src="{% static 'Main.JPG' %}"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row ">
    <div class="col-sm text-center align-items-center justify-content-center">
      <h3 class="m-1">¿Cómo te sientes hoy?</h3>
      <h5 class="m-4">Toma un test para averiguarlo:</h5>
      <div class="d-flex  flex-column text-center align-items-center justify-content-center">
        <div>
          <a class="btn btn-danger my-2 " href="#" role="button"
            >Ansiedad</a
          >
        </div>
        <div>
          <a class="btn btn-danger my-2 " href="#" role="button"
            >Depresión</a
          >
        </div>
        <div>

          <a class="btn btn-danger my-2 mx-5" href="#" role="button"

          <a class="btn btn-danger my-2 " href="#" role="button"
            >Autoestima</a

          <a class="btn btn-primary my-2 mx-1" href="#" role="button"></a>

          <a class="btn btn-primary my-2 " href="#" role="button">
            Orientación Vocacional.</a>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <h3 class="m-1">Sencillo de utilizar</h3>
      <p class="m-4">

    <div class="col-sm my-4 text-center align-items-center justify-content-center">
      <h3 class="">Sencillo de utilizar</h3>
      <p class="">

        Toma un test para averiguarloUna vez que hayas tomado un test de
        evaluación, puedes continuar charlando con MiBotConsejero, quién te dará
        consejos prácticos si lo deseas.
      </p>
      <div class="d-flex mx-5 flex-column"></div>

      <div class="d-flex  flex-column"></div>

    </div>
  </div>



  <div class="container my-5">

    <div class="row">



        <div class="col-sm">

    <div class="row     ">



        <div class="col-sm my-2 text-center align-items-center justify-content-center">

            <img
            height="400px"
            width="350px"
            src="{% static 'main2.JPG' %}"  class="img-fluid"
              alt="Responsive image"
            />
          </div>


      <div class="col-sm ">
        <h2 class="m-1">
         Formatos Psicológicosi
        </h2>
        <p class="m-3">
            : Nuestra gran variedad de formatos psicológicos que puedes descargar en formato PDF para que los utilices en donde quieras.
        </p>
        <button class="btn m-1 btn-danger" type="submit">Button</button>

      <div class="col-sm text-center align-items-center justify-content-center">
        <h2 class="">
         Formatos Psicológicosi :
        </h2>
        <p class="">
             Nuestra gran variedad de formatos psicológicos que puedes descargar en formato PDF para que los utilices en donde quieras.
        </p>
        <button class="btn m-1 btn-success" type="submit">Descargar Formatos Psicológicos</button>

      </div>
  
      
    </div>
  </div>


</div>
      <p class="m-3">
        Aprendamos Psicología en colaboración con Pulse Montreal, entrenamos a
        MiConsejeroBot para que te escuche en momentos de inestabilidad
        emocional. Es gratis.
      </p>
      <button class="btn m-3 btn-danger" type="submit">Button</button>
    </div>

    <div class="col-sm">
      <img
        src="https://plus.unsplash.com/premium_photo-1669047670905-fa4331d07e06?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-sm">
      <h3 class="m-1">¿Cómo te sientes hoy?</h3>
      <h5 class="m-4">Toma un test para averiguarlo:</h5>
      <div class="d-flex mx-5 flex-column">
        <div>
          <a class="btn btn-danger my-2 mx-5" href="#" role="button"
            >Ansiedad</a
          >
        </div>
        <div>
          <a class="btn btn-danger my-2 mx-5" href="#" role="button"
            >Depresión</a
          >
        </div>
        <div>
          <a class="btn btn-danger my-2 mx-5" href="#" role="button"
            >Autoestima</a
          >
        </div>
        <div>
          <a class="btn btn-primary my-2 mx-1" href="#" role="button"
            >Orientación Vocacional.</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm">
      <h3 class="m-1">Sencillo de utilizar</h3>
      <p class="m-4">
        Toma un test para averiguarloUna vez que hayas tomado un test de
        evaluación, puedes continuar charlando con MiBotConsejero, quién te dará
        consejos prácticos si lo deseas.
      </p>
      <div class="d-flex mx-5 flex-column"></div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">



        <div class="col-sm">
            <img
              src="https://plus.unsplash.com/premium_photo-1669047670905-fa4331d07e06?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="img-fluid"
              alt="Responsive image"
            />
          </div>

      <div class="col-sm ">
        <h2 class="m-1">
         Formatos Psicológicosi
        </h2>
        <p class="m-3">
            : Nuestra gran variedad de formatos psicológicos que puedes descargar en formato PDF para que los utilices en donde quieras.
        </p>
        <button class="btn m-1 btn-danger" type="submit">Button</button>
      </div>
  
      
    </div>
  </div>
 

</div>

{% endblock %}
