{% extends "base.html" %}
{% block content %}
{% load static %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/iASX6cu4GaQ" title="¿Qué es la Psicología? Concepto, objetivo, exponentes, ramas y Críticas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/uvYep7c0Wa8" title="¿Qué es y qué estudia la Psicología Cognitiva?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>     {% endcomment %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/wBJzh3VdiF0" title="Improve your well-being: Discover the Psychology of Health" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
{% comment %} <iframe width="928" height="522" src="https://www.youtube.com/embed/SSaZqP1vdjY" title="Advantages of Cognitive Behavioral Therapy over other currents" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
<div class="text-center align-items-center">
      <h2 class="my-2">
          {{feel.title}}
      </h2>
    </div>
<div>
    <div class="container py-5">
        <div class=" text-center  align-content-center" >
          
          <p class="mb-4">
            {{feel.message}}</p>
          <div class="d-flex mx-5 flex-column">
            <!-- image YGI 3 PATI
             -->
            <div>
              <a class="btn pink my-2" href="/anxiety" role="button"
                >Ansiedad</a
              >
            </div>
            <div>
              <a class="btn pink my-2 " href="/depression" role="button"
                >Depresión</a
              >
            </div>
            <div>
              <a class="btn pink my-2 " href="/autostima" role="button"
                >Autoestima</a
              >
            </div>
            <div>
              <a class="btn pink my-2 mx-1" href="/oriention" role="button"
                >Orientación Vocacional.</a
              >
            </div>
         
        </div>
      </div>
</div>
    
<div class="row text-center align-content-center">
  <div class="col-sm">
    <iframe width="400"   style='border-radius:30px;' height="225" src="{{feel.link1}}">
    </iframe>
    
  </div>
  <div class="col-sm"><iframe style='border-radius:30px;' width="400" height="225" src="{{feel.link2}}">
  </iframe>
  </div>

  </div>
  <div class="row text-center align-content-center my-2">
    <div class="col-sm">
      <iframe style='border-radius:30px;' width="400" height="225" src="{{feel.link3}}">
      </iframe>
      
    </div>
    <div class="col-sm"><iframe style='border-radius:30px;' width="400" height="225" src="{{feel.link4}}">
    </iframe>
    </div>
 
    </div>
 






    
     


























{% endblock %}



























