{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="text-center my-2"><h2>Test de Orientación Vocacional</h2></div>
    <div class="container">
        <div class="row">

            <div class="col-sm my-3 text-center align-content-center justify-content-center">
                <img
                height="200px"
                width="300px"
                  src=""
                  class="img-fluid"
                  alt="Responsive image"
                />
              </div>

          <div class="col-sm">
            <h3 class="m-1">
                Inventario de Intereses Vocacionales y Profesionales (IIVP)
            </h3>
            <p class="m-3">
                El IIVP es una herramienta de autoevaluación diseñada para ayudar a los individuos a explorar sus intereses y preferencias vocacionales.</p>
            
          </div>
      
          
        </div>
      </div>
      <div class="container my-3">
            <h5>Instrucciones:
            </h5>
          <div class="">
           <p>
            A continuación, encontrarás una serie de actividades, tareas y campos de estudio. Por favor, indica tu nivel de interés en cada uno de ellos, utilizando la siguiente escala:</p>
           <ul>
            <li>Ningún interés
                
               </li>
            <li>Poco interés
                
                
                </li>
            <li>Interés moderado
               </li>
            <li> Alto interés</li>
          </ul>  
          <div class="text-center align-content-center">
            <a class="btn pink my-4 " href="/quiz/4" role="button">
              Comenzar test</a>          </div>
        
        </div>
        </div>
        <div class="row text-center align-content-center">
          <div class="col-sm">
            <iframe width="400"   style='border-radius:30px;' height="225" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
            
          </div>
          <div class="col-sm"><iframe style='border-radius:30px;' width="400" height="225" src="https://www.youtube.com/embed/tgbNymZ7vqY">
          </iframe>
          </div>
       
          </div>
          <div class="row text-center align-content-center my-2">
            <div class="col-sm">
              <iframe style='border-radius:30px;' width="400" height="225" src="https://www.youtube.com/embed/tgbNymZ7vqY">
              </iframe>
              
            </div>
            <div class="col-sm"><iframe style='border-radius:30px;' width="400" height="225" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
            </div>
         
            </div>
         
        </div>



     
{% include 'partials/middlefooter.html' %}
       
{% endblock %}
