{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="text-center my-2"><h2>Test de Orientación Vocacional</h2></div>
    <div class="container">
        <div class="row">

            <div class="col-sm my-3 text-center align-content-center justify-content-center">
                <img
                height="200px"
                width="300px"
                style='border-radius: 30px'
                src="{% static 'oriention.jpg' %}" 
                class="img-fluid"
                alt="Responsive image"
                />
              </div>

          <div class="col-sm">
            <h3 class="m-1">
                {{oriention.title}}
            </h3>
            <p class="m-3">
              {{oriention.message}}
          </div>
      
          
        </div>
      </div>
      <div class="container my-3">
            <h5>Instrucciones:
            </h5>
          <div class="">
            <p>{{oriention.Instruction_Text}}</p>
            <ul>
              <li>{{oriention.Instruction_option1}}</li>
              <li>{{oriention.Instruction_option2}}</li>
              <li>{{oriention.Instruction_option3}}</li>
              <li>{{oriention.Instruction_option4}}</li>
            </ul> 
          <div class="text-center align-content-center">
            <a class="btn pink my-4 " href="/quiz/4" role="button">
              Comenzar test</a>          </div>
        
        </div>
        </div>
        
     
{% include 'partials/middlefooter.html' %}
       
{% endblock %}
