<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    {% if category_id == 1 %}
        <h1 class="text-center" id="uppertext1">Test de Ansiedad</h1>
    {% else %}
        <h1 class="text-center" id="uppertext1">Test de Depresión</h1>
    {% endif %}
    <div class="container">
            <div class="col-12" id="uppertext2" >
                <p>Por favor, indica en qué medida has experimentado los
                    siguientes síntomas en la última semana, incluyendo hoy.
                </p>
                <p>No te preocupes, nadie puede ver tus resultados, así que
                    siéntete con la libertad de responder con sinceridad.
                    Comenzamos.
                </p>
            </div>

            <br>
            <br>
    <form method="post" action="{% url 'process_response' %}" id="quizForm">
        {% csrf_token %}
        {% for question in questions %}
            <div class="question " id="question{{ forloop.counter }}" {% if forloop.first %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                <p>{{ forloop.counter }}: {{ question.text }}</p>
                {% for choice in choices %}
                    <label><input type="radio" name="choice_{{ question.id }}" value="{{ choice.id }}" data-points="{{ choice.points }}">{{ choice.text }}</label><br>
                {% endfor %}
                <!-- {% for choice,score in score.items %}
                    <label><input type="radio" name="score_{{ question.id }}" value="{{ choice }}" data-points="{{ score }}">{{ choice }}</label><br>
                {% endfor %} -->
                
                <br>
            </div>
            
        {% endfor %}
        <div class="d-flex justify-content-center">
        <button type="button" onclick="nextQuestion()" class="btn btn-primary text-center" id="nxtques" style="display: block;" >Siguiente </button>
        <button type="button" onclick="calculatePoints()" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#staticBackdrop"id="btnsubmit" style="display: none;">Terminar test</button>
        </div>
       
    
        <input type="hidden" name="total_points" id="total_points" value=""> 
        <input type="hidden" name="category_id" id="category_id" value="{{ category_id }}"> 

    </form>


    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Disclaimer </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <b>!Muchas gracias por tomarte el tiempo de responder el test! </b>
                <p>
                    Enseguida te mostramos tus resultados. Es importante mencionar que esta escala debe ser utilizada como una herramienta de autoevaluación y no como un sustituto de una evaluación profesional. En caso de puntuaciones altas o preocupaciones sobre la ansiedad, se recomienda buscar la opinión de un profesional de la salud mental.
                </p>
                <p id="resultPoints">Result Points: </p>        
            </div>
            <div class="modal-footer d-grid gap-2 mx-auto ">
              <button type="button" onclick="submitForm()" class="btn btn-primary">Vamos a mis resultados</button>
            </div>
          </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script>
        let currentQuestion = 1;
        function showQuestion(questionNumber) {
            document.getElementById(`question${questionNumber}`).style.display = 'block';
        }

        function hideQuestion(questionNumber) {
            document.getElementById(`question${questionNumber}`).style.display = 'none';
            
        }

        function nextQuestion() {
            document.getElementById(`uppertext1`).style.display = 'none';
            document.getElementById(`uppertext2`).style.display = 'none';

            hideQuestion(currentQuestion);
            currentQuestion++;

            if (currentQuestion <  document.querySelectorAll('[id^="question"]').length) {
                showQuestion(currentQuestion);
            } else if (currentQuestion ==  document.querySelectorAll('[id^="question"]').length) {
                // All questions have been answered, you can handle this scenario.
                showQuestion(currentQuestion);
                document.getElementById('nxtques').style.display = 'none';
                document.getElementById('btnsubmit').style.display = 'block';

            }
        }

        function calculatePoints() {
        var questions = document.querySelectorAll('[name^="choice_"]');
        var totalPoints = 0;
        for (var i = 1; i < questions.length; i+=4) {
            var selectedChoice = document.querySelector('[name="' + questions[i].name + '"]:checked');
            if (selectedChoice) {
                totalPoints += parseInt(selectedChoice.getAttribute('data-points'));
                
            }
            console.log(totalPoints);

        }
        document.getElementById('total_points').value = totalPoints;
        document.getElementById('resultPoints').innerText = 'Result Points: ' + totalPoints;;
            
        
    }

        function submitForm() {
            // Perform any additional logic before submitting the form if needed
            document.getElementById('quizForm').submit();
        }
    </script>
</body>
</html>
