{% load i18n %}
{% autoescape off %}
Estimado {{ user.get_username }}, <br><br>

Recibes este correo electrónico porque has solicitado restablecer tu contraseña en Aprendamos Piscología. Entendemos que a veces olvidamos nuestras contraseñas y estamos aquí para ayudarte. <br/><br/>

Para restablecer tu contraseña, haz clic en el siguiente enlace {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}. Si no has solicitado este cambio o crees que esto es un error, puedes ignorar este mensaje y tu contraseña actual seguirá siendo válida. </br></br>

Recuerda elegir una contraseña segura que contenga al menos ocho caracteres, incluyendo números y símbolos. </br></br>

Si tienes algún problema o necesitas asistencia adicional, no dudes en ponerte en contacto con nuestro equipo de soporte en soporte@aprendamospsicologia.com. </br></br>

Saludos y gracias por confiar en Aprendamos Psicología & Pulse Montreal.

{% comment %} Hello,

You're receiving this email because you requested a password reset for your user account at {{ site_name }} and because you are gay.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

Thanks for using our site!

The {{ site_name }} team {% endcomment %}

{% endautoescape %}