{% extends "base.html" %}
{% block content %}
{% load static %}


    <div class="container text-center align-items-center">
        <div class="row">
          <div class="col-sm">
            <h2 class="my-5">
                Restabler contraseña 
            </h2>
            <p class="my-3">Te enviaremos un correo para resetear tu contraseña. </p>
            <p class="my-3">	 
            <div>
            <form>
                <fieldset >
                  
                  <div >
                    <label  class="form-label py-3"><h5>Correo electrónico:</h5> </label>
                    <p></p>
                    <input class="" placeholder=" tucorreo@web.xxx"/>
                    
                    </div>
                  
                  
                  </div>
                  <button class="btn pink my-4 btn-danger" type="submit">Restablecer contraseña</button>
                </fieldset>
              </form>
            </div>
           
          </div>
      
          
        </div>
      </div>
     
      






    <!-- Optional JavaScript; choose one of the two! -->

    
    {% endblock %}












