{% extends "base.html" %} {% block content %} {% load static %}
{% load widget_tweaks %}

<div class="container">
  <h3 class="text-center">Restabler contraseña</h3>
  <br /><br />
  <p>Te enviaremos un correo para resetear tu contraseña. </p>

  <div class="d-flex justify-content-center">
    <form method="POST">
      {% csrf_token %} {% comment %} {{form}} {% endcomment %} 
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo electrónico:</label>
        {% render_field form.email type="email" class="form-control" placeholder="tucorreo@web.xxx" name="email" %}
      </div>
      {% comment %} <input type="Submit" name="Update Password" value="Send Mail"/> {% endcomment %}
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn m-5 pink text-white">Resetear</button>
      </div>
    </form>
  </div>

</div>

{% endblock %}
