{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="container text-center align-items-center" style='height:80vh;'>
        <div class="row">
          <div class="col-sm">
            <h2 class="my-5">
                Términos y Condiciones
            </h2>
            <p class="my-3">Crear una nueva contraseña: </p>
            <p class="my-3">	 
            <div>
                  <button class="btn pink my-4 btn-danger" type="submit">Restablecer contraseña</button>
                </fieldset>
              </form>
            </div>
           
          </div>
      
          
        </div>
      </div>
     
      
{% include 'partials/middlefooter.html' %}

{% endblock %}












