<style>
    /* Styling for the footer */
    .footer {
      background-color: #69B761  ;
      color: white;
     
      text-align: center;
    }
    
    /* Styling for the links in the footer */
    .footer a {
      color: white;
      text-decoration: none;
    }



</style>

<footer class="footer p-5  ">
 
    <div class="row">
      <div class="col-sm">
        <p><a class="  link-secondary link-opacity-50-hover text-white" href="/contact_us">Contáctanos.</a></p>
        <p><a class="  link-secondary link-opacity-50-hover text-white" href="/contact_us">Quiénes Somos.</a></p>
        <p><a class="  link-secondary link-opacity-50-hover text-white" href="/term_&_condition">Términos y Condiciones.</a></p>
        <p><a class="  link-secondary link-opacity-50-hover text-white" href="/privacy_policy">Privacy Policy</a></p>
      </div>
  
      <div class="col-sm">
        <p><a class="  link-secondary link-opacity-50-hover text-white" href="/faq">FAQ.</a></p>
        <p><a class="  link-secondary link-opacity-50-hover text-white" href="/#">Versión en inglés (Proximamente).</a></p>
        
      </div>

</footer>