{% load static %}
<style>
    /* Styling for the footer */
    .middlefooter {
      background-color: #4785d6  ;
      color: white;
     
      text-align: center;
    }
    
    /* Styling for the links in the footer */
    .footer a {
      color: white;
      text-decoration: none;
    }

    @media (min-width: 561px) and (max-width: 775px) {
        #vid2 {
            display: none;
        }
        .col-md-5{
            text-align: center!important;
        }

    }

    /* Hide the entire footer on smaller screens */
    @media (max-width: 560px) {
        .middlefooter {
            display: none;
        }
    }


</style>

<footer class="middlefooter p-2 mt-2 ">
    <div class="text-center">
        <p>Visítanos en YouTube, en donde encontrarás una extensiva librería de conocimiento psicológico en video.</p>
    </div>
 
    <div class="row">
      <div class="col-md-6 text-left" id="vid1" >
        
      </div>
  
      <div class="col-md-6 text-left" id="vid2" >
        
      </div>
    </div>

      <script>
        // Fetch video data using AJAX
        fetch('/footer')
            .then(response => response.json())
            .then(data => {
                document.getElementById('vid1').innerHTML = `<iframe width="300" height="215" src="https://www.youtube.com/embed/${data.latest_video}" ></iframe>`;
                document.getElementById('vid2').innerHTML = `<iframe width="300" height="215" src="https://www.youtube.com/embed/${data.most_viewed_video}" ></iframe>`;
            })
            .catch(error => console.error('Errorssss:', error));
    </script>
</footer>