<style>
    /* Styling for the footer */
    .middlefooter {
      background-color: #4785d6  ;
      color: white;
     
      text-align: center;
    }
    
    /* Styling for the links in the footer */
    .footer a {
      color: white;
      text-decoration: none;
    }


    .col-sm {
        margin-bottom: 10px; /* Adjust the margin-bottom as needed */
    }
</style>

<footer class="middlefooter p-2 my-2 ">
    <div class="text-center">
        <p>Visítanos en YouTube, en donde encontrarás una extensiva librería de conocimiento psicológico en video.</p>
    </div>
 
    <div class="row">
      <div class="col-sm" id="vid1" >
        
      </div>
  
      <div class="col-sm" id="vid2" >
        
      </div>

      <script>
        // Fetch video data using AJAX
        fetch('footer/')
            .then(response => response.json())
            .then(data => {
                document.getElementById('vid1').innerHTML = `<iframe width="360" height="215" src="https://www.youtube.com/embed/${data.latest_video}" ></iframe>`;
                document.getElementById('vid2').innerHTML = `<iframe width="360" height="215" src="https://www.youtube.com/embed/${data.most_viewed_video}" ></iframe>`;
            })
            .catch(error => console.error('Errorssss:', error));
    </script>
</footer>